In [1]:
import os
import time
import math
import random
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import metrics
from scipy.stats import ks_2samp
from sdv.metadata import MultiTableMetadata
from sdv.evaluation.multi_table import evaluate_quality

# Load Processed Data From Generation Stage

In [2]:
with open('pkl/real_data_collection.pkl', 'rb') as f:
    real_data_collection = pickle.load(f)

In [3]:
with open('pkl/synthetic_data_full_epoch.pkl', 'rb') as f:
    synthetic_data_collection = pickle.load(f)

In [4]:
with open('pkl/sdv_metadata.pkl', 'rb') as f:
    sdv_metadata = pickle.load(f)

In [5]:
with open('pkl/metadata.pkl', 'rb') as f:
    metadata = pickle.load(f)

In [6]:
real_data_collection

{'agency':     agency_id  agency_url  agency_timezone  agency_lang  agency_phone
 0           0           0                0            0             0
 1           1           0                0            0             0
 2           2           0                0            0             0
 3           3           0                0            0             0
 4           4           0                0            0             0
 5           5           0                0            0             0
 6           6           0                0            0             0
 7           7           0                0            0             0
 8           8           0                0            0             0
 9           9           0                0            0             0
 10         10           0                0            0             0
 11         11           0                0            0             0
 12         12           0                0            0             0
 13         13           0                0            0             0
 14         14           0                0            0             0,
 'calendar':      service_id  monday  tuesday  wednesday  thursday  friday  saturday  \
 0             0       1        1          1         1       1         1
 1             1       1        1          1         1       1         1
 2             2       1        1          1         1       1         1
 3             3       1        1          1         1       1         1
 4             4       1        1          1         1       1         1
 ..          ...     ...      ...        ...       ...     ...       ...
 116         116       0        0          0         0       0         1
 117         117       1        1          1         1       0         0
 118         118       1        1          1         1       0         0
 119         119       1        1          1         1       0         0
 120         120       1        1          1         1       0         0

      sunday  start_date  end_date
 0         1       44993     45060
 1         1       44994     45060
 2         1       44993     45060
 3         1       45002     45060
 4         1       45002     45060
 ..      ...         ...       ...
 116       1       44993     45060
 117       0       44993     45060
 118       0       44994     45060
 119       0       44993     45001
 120       0       44994     45060

 [121 rows x 10 columns],
 'calendar_dates':      service_id   date  exception_type
 0             2  44993               2
 1             2  44996               2
 2             2  44997               2
 3             2  44998               2
 4             2  44999               2
 ..          ...    ...             ...
 669         120  45004               2
 670         120  45005               2
 671         120  45006               2
 672         120  45024               2
 673         120  45039               2

 [674 rows x 3 columns],
 'routes':      route_id  agency_id  route_type  route_color  route_text_color  \
 0           0          8           3           -1                -1
 1           1          7           3            0                 1
 2           2          4           4            3                 1
 3           3          8           3            1                 1
 4           4          0           2            5                 0
 ..        ...        ...         ...          ...               ...
 210       210          1           3            7                 1
 211       211          1           3            7                 1
 212       212          1           3            5                 0
 213       213          0           2            7                 1
 214       214          3           4            3                 1

      contract_id
 0              7
 1             61
 2             62
 3              4
 4             63
 ..           ...
 210           61
 211           61
 212           61
 213           63
 214           57

 [215 rows x 6 columns],
 'stops':       stop_id  stop_lat   stop_lon  location_type  parent_station  \
 0           0 -36.97766  174.84925              1              -1
 1           1 -36.84326  174.76575              0              73
 2           2 -36.84381  174.76551              0              73
 3           3 -36.89726  174.80712              1              -1
 4           4 -36.84403  174.76550              0              73
 ...       ...       ...        ...            ...             ...
 6709     6709 -36.85073  174.75679              0              -1
 6710     6710 -36.75943  174.74654              0              -1
 6711     6711 -36.75716  174.74401              0              -1
 6712     6712 -36.75667  174.74761              0              -1
 6713     6713 -36.39619  174.66156              0              -1

       platform_code  wheelchair_boarding  start_date  end_date
 0                -1                    0       44993     45060
 1                27                    0       44993     45060
 2                28                    0       44993     45060
 3                -1                    0       44993     45060
 4                29                    0       44993     45060
 ...             ...                  ...         ...       ...
 6709             -1                    0       44993     45060
 6710             -1                    0       44993     45060
 6711             -1                    0       44993     45060
 6712             -1                    0       44993     45060
 6713             -1                    0       44993     45060

 [6714 rows x 9 columns],
 'stop_times':         trip_id  arrival_time  departure_time  stop_id  stop_sequence  \
 0         11377         37680           37680     4172              1
 1         11377         37785           37785     4174              2
 2         11377         37864           37864     4007              3
 3         11377         37914           37914     4181              4
 4         11377         37969           37969      737              5
 ...         ...           ...             ...      ...            ...
 966785    22010         49881           49881     1801             62
 966786    22010         49933           49933     1803             63
 966787    22010         50034           50034     1744             64
 966788    22010         50101           50101     1740             65
 966789    22010         50160           50160     1852             66

         stop_headsign  pickup_type  drop_off_type  shape_dist_traveled  \
 0                 153            0              0                0.000
 1                 153            0              0                0.794
 2                 153            0              0                1.395
 3                 153            0              0                1.777
 4                 153            0              0                2.192
 ...               ...          ...            ...                  ...
 966785            198            0              0               25.266
 966786            198            0              0               25.515
 966787            198            0              0               25.994
 966788            198            0              0               26.311
 966789            198            1              0               26.591

         timepoint
 0               0
 1               0
 2               0
 3               0
 4               0
 ...           ...
 966785          0
 966786          0
 966787          0
 966788          0
 966789          0

 [966790 rows x 10 columns],
 'trips':        route_id  service_id  trip_id  trip_headsign  direction_id  shape_id  \
 0           179          93        0            600             0         0
 1           179          93        1            600             0         0
 2           179          93        2            600             0         0
 3           179          93        3            600             0         0
 4           179         105        4            600             0         0
 ...         ...         ...      ...            ...           ...       ...
 32398        18          93    32398             20             0       670
 32399        18         105    32399             20             0       670
 32400        18          93    32400             20             0       670
 32401        18         105    32401             20             0       670
 32402        18          93    32402            526             0       672

        wheelchair_accessible  bikes_allowed
 0                          0              0
 1                          0              0
 2                          0              0
 3                          0              0
 4                          0              0
 ...                      ...            ...
 32398                      0              0
 32399                      0              0
 32400                      0              0
 32401                      0              0
 32402                      0              0

 [32403 rows x 8 columns]}

In [7]:
synthetic_data_collection

{'agency':     agency_id  agency_url  agency_timezone  agency_lang  agency_phone
 0           0           0                0            0             0
 1           1           0                0            0             0
 2           2           0                0            0             0
 3           3           0                0            0             0
 4           4           0                0            0             0
 5           5           0                0            0             0
 6           6           0                0            0             0
 7           7           0                0            0             0
 8           8           0                0            0             0
 9           9           0                0            0             0
 10         10           0                0            0             0
 11         11           0                0            0             0
 12         12           0                0            0             0
 13         13           0                0            0             0
 14         14           0                0            0             0,
 'calendar':      service_id  monday  tuesday  wednesday  thursday  friday  saturday  \
 0             0       0        0          0         0       0         0
 1             1       0        0          0         0       0         0
 2             2       0        0          0         0       0         0
 3             3       0        0          0         0       0         0
 4             4       0        0          0         0       0         0
 ..          ...     ...      ...        ...       ...     ...       ...
 116         116       0        0          0         0       0         0
 117         117       0        0          0         0       0         0
 118         118       0        0          0         0       0         0
 119         119       0        0          0         0       0         0
 120         120       0        0          0         0       0         0

      sunday  start_date  end_date
 0         0       44994     45054
 1         0       44994     45053
 2         0       44994     45054
 3         0       44994     45054
 4         0       44994     45054
 ..      ...         ...       ...
 116       0       44994     45054
 117       0       44994     45054
 118       0       44994     45053
 119       0       44994     45054
 120       0       44994     45054

 [121 rows x 10 columns],
 'calendar_dates':      service_id  date  exception_type
 97            0    23               1
 84            1     8               1
 548           6    27               1
 229          10     7               1
 371          10     7               1
 ..          ...   ...             ...
 650         108     9               1
 118         110    22               1
 632         114    23               1
 585         115     6               1
 500         120    23               1

 [674 rows x 3 columns],
 'routes':      route_id  agency_id  route_type  route_color  route_text_color  \
 0           0          8           3            0                -1
 1           1          4           3            0                -1
 2           2          8           3            0                -1
 3           3          8           3            0                -1
 4           4          5           3            0                -1
 ..        ...        ...         ...          ...               ...
 210       210         10           3            0                -1
 211       211         10           3            0                -1
 212       212          4           3            0                -1
 213       213         11           3            0                -1
 214       214          5           3            0                -1

      contract_id
 0             32
 1             32
 2             32
 3             32
 4             32
 ..           ...
 210           32
 211           32
 212           32
 213           32
 214           32

 [215 rows x 6 columns],
 'stops':       stop_id   stop_lat    stop_lon  location_type  parent_station  \
 0           0 -36.879433  174.785446              0               1
 1           1 -36.882103  174.773163              0               1
 2           2 -36.872112  174.783783              0               1
 3           3 -36.875427  174.774567              0               1
 4           4 -36.871471  174.782303              0               2
 ...       ...        ...         ...            ...             ...
 6709     6709 -36.873283  174.775604              0               2
 6710     6710 -36.878738  174.777832              0               2
 6711     6711 -36.873585  174.783066              0               1
 6712     6712 -36.873363  174.779007              0               1
 6713     6713 -36.881645  174.773132              0               1

       platform_code  wheelchair_boarding  start_date  end_date
 0                -1                    0       44993     45060
 1                -1                    0       44993     45060
 2                 0                    0       44993     45060
 3                 0                    0       44993     45060
 4                 0                    0       44993     45060
 ...             ...                  ...         ...       ...
 6709              0                    0       44993     45060
 6710              0                    0       44993     45060
 6711             -1                    0       44993     45060
 6712             -1                    0       44993     45060
 6713             -1                    0       44993     45060

 [6714 rows x 9 columns],
 'stop_times':         trip_id  arrival_time  departure_time  stop_id  stop_sequence  \
 689255        0         68184           66377     3334             18
 514678       90         33478           67930     6229             44
 571638      354         33212           68106     4264             33
 585096      426         33352           33179     3909             17
 274400      639         36534           68272     1800             19
 ...         ...           ...             ...      ...            ...
 731994    31573         33234           33479     4528             38
 456431    31678         68392           59294     4799             32
 753371    31887         33217           44207     4837             36
 432242    31994         33261           67831     4396             35
 664097    32402         33188           41535     5019             36

         stop_headsign  pickup_type  drop_off_type  shape_dist_traveled  \
 689255            131            0              0            14.158051
 514678             45            0              0             2.361607
 571638             36            0              0             2.231285
 585096             42            0              0             2.380503
 274400             44            0              0             5.209212
 ...               ...          ...            ...                  ...
 731994             42            0              0             2.235754
 456431            163            0              0            14.173384
 753371             36            0              0             2.231791
 432242             36            0              0             2.242588
 664097             36            0              0             2.235192

         timepoint
 689255          0
 514678          0
 571638          0
 585096          0
 274400          0
 ...           ...
 731994          0
 456431          0
 753371          0
 432242          0
 664097          0

 [966790 rows x 10 columns],
 'trips':        route_id  service_id  trip_id  trip_headsign  direction_id  shape_id  \
 0            57          66        0            236             1       372
 1            62          70        1            265             1       276
 2           104          50        2            210             1       356
 3           113          80        3            251             1       296
 4            65          69        4            255             1       276
 ...         ...         ...      ...            ...           ...       ...
 32398        58          25    32398            268             1       285
 32399        77          30    32399            249             1       292
 32400        58          73    32400            244             1       304
 32401        72          77    32401            254             1       266
 32402       110          79    32402            270             1       283

        wheelchair_accessible  bikes_allowed
 0                          0              0
 1                          0              0
 2                          0              0
 3                          0              0
 4                          0              0
 ...                      ...            ...
 32398                      0              0
 32399                      0              0
 32400                      0              0
 32401                      0              0
 32402                      0              0

 [32403 rows x 8 columns]}

# Metrics

### Cosine Complement Test

In [8]:
def cos_test(df1, df2):
    cos_sim = metrics.pairwise.cosine_similarity(df1.values.T, df2.values.T)
    mean_cos_sim = np.mean(cos_sim)
    return mean_cos_sim

In [9]:
def batch_cos_test(fake_collection, real_collection):
    test_dict = {}
    for df_name in fake_collection.keys():
        mean_cos_sim = cos_test(real_collection[df_name], fake_collection[df_name])
        test_dict[df_name] = 1-mean_cos_sim
    return test_dict

In [10]:
%time batch_cos_test(synthetic_data_collection, real_data_collection)

CPU times: total: 1.77 s
Wall time: 227 ms

{'agency': 0.96,
 'calendar': 0.7973341253002043,
 'calendar_dates': 0.09911736825504547,
 'routes': 0.7722847960862144,
 'stops': 0.8700902255396581,
 'stop_times': 0.5878181395847124,
 'trips': 0.5210619437775119}

### KS (Kolmogorov-Smirnov) Complement Test

In [11]:
def ks_test(df1, df2):
    ks_stats = []
    # wasserstein_distances = []
    p_values = []
    for column in df1.columns:
        ks_stat, ks_p_value = ks_2samp(df1[column], df2[column])
        ks_stats.append(ks_stat)
        p_values.append(ks_p_value)
        # w_dist = wasserstein_distance(df1[column], df2[column])
        # wasserstein_distances.append(w_dist)
    mean_ks_stat = np.mean(ks_stats)
    # mean_wasserstein_distance = np.mean(wasserstein_distances)
    mean_p_value = np.mean(p_values)
    return mean_ks_stat, mean_p_value

In [12]:
def batch_ks_test(collection1, collection2):
    stats_dict = {}
    for df_name in collection1:
        ks_results, p_value = ks_test(collection1[df_name], collection2[df_name])
        stats_dict[df_name] = 1-ks_results
    return stats_dict

In [13]:
%time batch_ks_test(synthetic_data_collection, real_data_collection)

CPU times: total: 3.44 s
Wall time: 2.36 s

{'agency': 1.0,
 'calendar': 0.556198347107438,
 'calendar_dates': 0.413946587537092,
 'routes': 0.7325581395348837,
 'stops': 0.7054413662992751,
 'stop_times': 0.6916818543840958,
 'trips': 0.7225025460605499}

## Cardinality Metrics

In [14]:
def cardinality_shape_similarity(real_tables, fake_tables, relationships):
    ks_scores = []

    for parent_table_name, relationship in relationships.items():
        parent_primary_key = relationship["primary_key"]
        children = relationship["child"]

        for child_table_name, child_foreign_key in children.items():
            # Calculate cardinality for real data
            real_child_table = real_tables[child_table_name]
            real_cardinality = real_child_table[child_foreign_key].value_counts().values

            # Calculate cardinality for synthetic data
            fake_child_table = fake_tables[child_table_name]
            fake_cardinality = fake_child_table[child_foreign_key].value_counts().values

            # Compute KSComplement score
            ks_statistic, _ = ks_2samp(real_cardinality, fake_cardinality)
            ks_complement = 1 - ks_statistic
            ks_scores.append(ks_complement)

    # Calculate CardinalityShapeSimilarity metric as the mean of KSComplement scores
    cardinality_shape_similarity_metric = sum(ks_scores) / len(ks_scores)
    
    return cardinality_shape_similarity_metric

In [15]:
cardinality_shape_similarity(real_data_collection, synthetic_data_collection, metadata)

0.7855401551279061

# SDMetrics (optional)

In [16]:
quality_report = evaluate_quality(
    real_data=real_data_collection,
    synthetic_data=synthetic_data_collection,
    metadata=sdv_metadata)

C:\programs\conda\envs\tfgpu\lib\site-packages\sdmetrics\reports\utils.py:661: UserWarning: Unexpected values ("0") in column "stop_sequence" and table "stop_times"
  warnings.warn(warning_format.format(values=values, column=column))
C:\programs\conda\envs\tfgpu\lib\site-packages\sdmetrics\reports\utils.py:661: UserWarning: Unexpected values ("1", "-1") in column "wheelchair_accessible" and table "trips"
  warnings.warn(warning_format.format(values=values, column=column))
Creating report:  40%|██████████████████████████▊                                        | 2/5 [00:01<00:02,  1.41it/s]C:\programs\conda\envs\tfgpu\lib\site-packages\sdmetrics\multi_table\multi_single_table.py:51: ConstantInputWarning: The synthetic data in table 'calendar', column 'start_date' contains a constant value. Correlation is undefined for constant data.
  warnings.warn(warning.category(message))
C:\programs\conda\envs\tfgpu\lib\site-packages\sdmetrics\multi_table\multi_single_table.py:51: ConstantInputWarning: The synthetic data in table 'stops', column 'start_date' contains a constant value. Correlation is undefined for constant data.
  warnings.warn(warning.category(message))
Creating report: 100%|███████████████████████████████████████████████████████████████████| 5/5 [00:14<00:00,  2.88s/it]

Overall Quality Score: 61.77%

Properties:
Column Shapes: 63.02%
Column Pair Trends: 41.95%
Parent Child Relationships: 80.35%

C:\programs\conda\envs\tfgpu\lib\site-packages\numpy\core\fromnumeric.py:3432: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
C:\programs\conda\envs\tfgpu\lib\site-packages\numpy\core\_methods.py:190: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

# Join Test

## Join Data

In [17]:
def auto_join(df_list, how='inner'):
    result = df_list[0]
    for df in df_list[1:]:
        shared_columns = list(set(result.columns) & set(df.columns))
        if not shared_columns:
            continue
        result = result.merge(df, on=shared_columns, how=how)
    return result

In [18]:
df_list = [synthetic_data_collection['routes'], synthetic_data_collection['trips']]
fake_routes_trips = auto_join(df_list)

In [19]:
df_list = [synthetic_data_collection['stops'], synthetic_data_collection['stop_times'], synthetic_data_collection['trips']]
fake_stops_stop_times_trips = auto_join(df_list)

In [20]:
df_list = [real_data_collection['routes'], real_data_collection['trips']]
real_routes_trips = auto_join(df_list)

In [21]:
df_list = [real_data_collection['stops'], real_data_collection['stop_times'], real_data_collection['trips']]
real_stops_stop_times_trips = auto_join(df_list)

## Measue # of Rows Abandoned

In [22]:
def size_difference_in_percentage(df1, df2):
    df1_len = len(df1)
    df2_len = len(df2)
    min_ = min(df1_len, df2_len)
    max_ = max(df1_len, df2_len)
    leftout = (((max_ - min_) / max_) + ((max_ - min_) / min_)) / 2
    return leftout

In [23]:
size_difference_in_percentage(fake_routes_trips, real_routes_trips)

0.0

In [24]:
size_difference_in_percentage(fake_stops_stop_times_trips, real_stops_stop_times_trips)

0.0

## CosSim Test For Joined Data

In [25]:
min_ = min(len(fake_routes_trips), len(real_routes_trips))
cos_test_result = cos_test(fake_routes_trips.sample(min_), real_routes_trips.sample(min_))

In [26]:
1-cos_test_result

0.66276639035927

In [27]:
min_ = min(len(fake_stops_stop_times_trips), len(real_stops_stop_times_trips))
cos_test_result = cos_test(fake_stops_stop_times_trips.sample(min_), real_stops_stop_times_trips.sample(min_))

In [28]:
1-cos_test_result

0.7084451705643939

## KS Test For Joined Data

In [29]:
min_ = min(len(fake_routes_trips), len(real_routes_trips))
ks_stat, p_value = ks_test(fake_routes_trips.sample(min_), real_routes_trips.sample(min_))

In [30]:
1-ks_stat

0.7052338458689722

In [31]:
min_ = min(len(fake_stops_stop_times_trips), len(real_stops_stop_times_trips))
ks_stat, p_value = ks_test(fake_stops_stop_times_trips.sample(min_), real_stops_stop_times_trips.sample(min_))

In [32]:
1-ks_stat

0.6901966300851271